.ZebraDialogBackdrop {
  width: 100%;
  height: 100%;
  opacity: 0.4 !important;
  background: #000;
  z-index: 99;
}
.validation-summary-valid {
  color: green;
  // padding-top: 0.5rem;
  font-size: 1rem;
  ul {
    margin: 0;
    &:has(li:not(:empty)) {
      margin-bottom: 1rem;
    }
  }
}
.validation-summary-errors {
  color: red;
  padding-top: 0.5rem;
  font-size: 1rem;
}
.ZebraDialog {
  z-index: 100;
  background-color: #fff;
  &_Title {
    display: block;
    position: relative;
    background: #002f87;
    color: #fff;
    padding: 0.5rem;
    line-height: 34px;
    font-size: 1.25rem;
  }
  &_Close {
    position: absolute;
    right: 1rem;
    top: 50%;
    color: #fff;
    width: 1rem;
    height: 1rem;
    margin-top: -0.5rem;
    line-height: 0.3;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 34px;
    text-decoration: none;
  }
  &_Body {
    padding: 1rem;
  }
  &_Buttons {
    // border-top: 1px solid $subtle-border;
    padding: 1rem;
    a {
      // @include button-variant($btn-background, $white, $btn-background);
    }
  }
}

