/* === MEDIA QUERIES ============================= */
// -- Media Query - SM Breakpoint (576px)
@mixin breakpt-sm {
  @media (min-width: map.get($grid-breakpoints, "sm")) {
    @content;
  }
}

// -- Media Query - MD Breakpoint (768px)
@mixin breakpt-md {
  @media (min-width: map.get($grid-breakpoints, "md")) {
    @content;
  }
}

// -- Media Query - LG Breakpoint (992px)
@mixin breakpt-lg {
  @media (min-width: map.get($grid-breakpoints, "lg")) {
    @content;
  }
}

// -- Media Query - XL Breakpoint (1200px)
@mixin breakpt-xl {
  @media (min-width: map.get($grid-breakpoints, "xl")) {
    @content;
  }
}

// -- Media Query - XXL Breakpoint (1400px)
@mixin breakpt-xxl {
  @media (min-width: map.get($grid-breakpoints, "xxl")) {
    @content;
  }
}

// -- Media Query - Custom Breakpoint
@mixin breakpt-c($screen) {
  @media (min-width: #{$screen}px) {
    @content;
  }
}

// Pseudo Container
@mixin container {
  width: 100%;
  padding-inline: calc(1.5rem * 0.5);
  margin-inline: auto;
  @include breakpt-md {
    max-width: 720px;
  }
  @include breakpt-lg {
    max-width: 960px;
  }
  @include breakpt-xl {
    max-width: 1140px;
  }
  @include breakpt-xxl {
    max-width: 1320px;
  }
}
@mixin row {
  padding: 0 calc(2.25rem * 0.5);
  @include breakpt-md {
    padding: 0 calc(1.5rem * 0.5);
  }
}

// Font Sizes
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-fontSize in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-fontSize;
    } @else {
      @media (min-width: $fs-breakpoint) {
        font-size: $fs-fontSize;
      }
    }
  }
}

// Transitions

@mixin transition($x...) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

// Buttons
$btn-background: #002f87;
$btn-hover: #002262;

@mixin button-variant($background, $font-col, $border) {
  background-color: $background;
  color: $font-col;
  font-weight: 600;
  padding: 6px 18px;
  text-align: center;
  border: 2px solid $border;
  border-radius: 0;
  display: inline-block;
  max-width: 195px;
  cursor: pointer;
  @include transition(background-color 0.5s ease);
  &:hover {
    background-color: $btn-hover;
    text-decoration: none;
    color: $white;
  }
}

/// A mixin which outputs layout rules for info tags
@mixin tag--info-layout-output() {
  content: var(--tag-info-text, "Tag label");
  background-color: var(--tag-info-bgColor, #ccc);
  color: var(--tag-info-color, #000);
  font-size: var(--tag-info-fontSize, 12px);
  font-weight: var(--tag-info-fontWeight, 600);
  position: absolute;
  left: 50%;
  bottom: var(--tag-info-bottom, -5px);
  transform: translateX(-50%);
  padding: var(--tag-info-padding, 1px 0.5rem);
  width: var(--tag-info-width, max-content);
  z-index: 1;
  display: flex;
  align-items: center;
  min-height: 1.8em;
  line-height: 1.6;
}

/// A wrapper mixin to apply tag layout rules
/// @param {String} $bannerBlockPosition ['before'] - 'before' or 'after'
@mixin tag--info-layout($bannerBlockPosition: "before") {
  position: relative;
  @if ($bannerBlockPosition == "before") {
    &:before {
      @include tag--info-layout-output();
    }
  } @else if($bannerBlockPosition == "after") {
    &:after {
      @include tag--info-layout-output();
    }
  }
}

/// A mixin to apply info code styles
/// @param {String} $bannerText - The text content for the promo banner
/// @param {Color} $bannerBg - The background color of the promo banner
/// @param {Color} $bannerTextColor - The text color of the promo banner
/// @example scss
/// @include tag--promo-style('promo', #ccc, #000);
/// @output
/// --tag-promo-text: 'promo';
/// --tag-promo-bgColor: #ccc;
/// --tag-promo-color: #000;
@mixin tag--info-style($bannerText, $bannerBg, $bannerTextColor: #000) {
  --tag-info-text: "#{$bannerText}";
  @if ($bannerBg != "") {
    --tag-info-bgColor: #{$bannerBg};
  }
  @if ($bannerTextColor != "") {
    --tag-info-color: #{$bannerTextColor};
  }
}

/// A mixin to apply layout rules for promotional tags or banners
@mixin tag--promo-layout() {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    content: var(--tag-promo-text, "Promo label");
    transform: translate(0%, 8%) rotate(-45deg);
    padding: var(--tag-promo-padding, 10px);
    color: var(--tag-promo-color, #fff);
    font-weight: var(--tag-promo-fontWeight, 600);
    font-size: var(--tag-promo-fontSize, 12px);
    line-height: 1;
    text-align: center;
    white-space: pre-wrap;
    z-index: 10;
  }

  &::after {
    $tag-promo-shapeSize: calc(
      var(--tag-promo-fontSize, 12px) * var(--tag-promo-shapeSize-multiplier, 5)
    );
    content: "";
    width: var(--tag-promo-shapeSize, #{$tag-promo-shapeSize});
    aspect-ratio: 1/1;
    background: var(--tag-promo-bgColor, #ccc);
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 5;
  }
}

/// A mixin to apply promo code styles
/// @param {String} $bannerText - The text content for the promo banner
/// @param {Color} $bannerBg - The background color of the promo banner
/// @param {Color} $bannerTextColor - The text color of the promo banner
/// @example scss
/// @include tag--promo-style('promo', #ccc, #000);
/// @output
/// --tag-promo-text: 'promo';
/// --tag-promo-bgColor: #ccc;
/// --tag-promo-color: #000;
@mixin tag--promo-style($bannerText, $bannerBg, $bannerTextColor: #fff) {
  $has-line-break: str-index($bannerText, "\\A");
  --tag-promo-text: "#{$bannerText}";
  @if $has-line-break {
    --tag-promo-shapeSize-multiplier: 6.8;
  }
  @if ($bannerBg != "") {
    --tag-promo-bgColor: #{$bannerBg};
  }
  @if ($bannerTextColor != "") {
    --tag-promo-color: #{$bannerTextColor};
  }
}

/// A mixin to style tags or promotional banners
/// @param {Map} $map - A map containing styling information for the tag or promo
/// @param {String} $type ['tag'] - The type pf element to style, either 'tag' or 'promo'
/// @example scss
/// @include tag-style-map-output(
/// (
///  'exclusive': ("Exclusive", #d2d4db),
///  'signed': ("Signed Copy", #ecc249, ""),
///  'bookclubpick': ("Book Club", #2f7abd, #ffffff),
///  'saleexclusive': ("Online Exclusive", #002f87, #ffffff)
/// )
/// )
/// @output
/// See mixins tag--info-style / tag--promo-style
@mixin tag-style-map-output($map: $info-tags, $type: "tag") {
  @if ($map) {
    @each $key, $val in $map {
      $length: length($val);
      $text: if($length > 0, nth($val, 1), "Tag text");
      $bgColor: if($length > 1, nth($val, 2), #ccc);
      $color: if($length > 2, nth($val, 3), "");
      $position: if($length > 3, nth($val, 4), "before");
      // $include-layout: if($length > 4, nth($val, 5), false);
      &--#{$key} {
        @if ($type == "tag") {
          @include tag--info-style($text, $bgColor, $color);
        } @else if($type == "promo") {
          @include tag--promo-style($text, $bgColor, $color);
        } @else {
          @warn 'Please provide either "tag" or "promo" type.';
        }
      }
    }
  } @else {
    @warn "No tags map provided";
  }
}

// Header style
@mixin mainheaderH() {
  font-size: 40px;
  font-weight: 400;
}

@mixin subheaderH() {
  font-size: 22px;
  font-weight: 400;

}

@mixin subheaderHlessBold() {
  font-size: 22px;
  font-weight: 600;
}
@mixin largesubheaderH() {
  font-size: 18px;
  font-weight: 700;
}

@mixin largesubheaderLessBoldH() {
  font-size: 18px;
  font-weight: 600;
}

@mixin smallsubheaderH() {
  font-size: 1rem;
  font-weight: 700;
}

@mixin linkH() {
  font-size: 1.25rem;
  font-weight: 600;
}

@mixin paragraphH() {
  font-size: 1.25rem;
  font-weight: normal;
}

@mixin searchText() {
  font-size: 1rem;
  font-weight: normal;
}

@mixin searchTextLessBold() {
  font-size: 1rem;
  font-weight: 600;
}

@mixin searchTextBold() {
  font-size: 1rem;
  font-weight: 700;
}

// Mobile Menu Mixins

@mixin fixed-bottom-mobile() {
  background-color: #022261;
  position: fixed !important;
  right: 0;
  bottom: 0;
  z-index: 1030;
  height: 75px;
  text-align: center;
  border-left: #ffffff 2px solid;
  padding-left: 0px;
  padding-right: 0px;
  grid-area: none;
  color: #fff;
  font-size: 1rem;
  &:first-child {
    border-left: none;
  }
  @include media-breakpoint-up(md) {
    z-index: auto;
    left: auto !important;
    right: auto;
    bottom: auto;
    position: relative !important;
    background-color: transparent;
    height: auto;
    max-height: auto;
    border-left: none;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin fixed-bottom-mobile__img-wrap() {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  height: 75px;
}

@mixin fixed-bottom-mobile__col() {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 25%;
  max-width: 25%;
}
