/// These styles are related to styling product lists - they bring the sizing in line with other product list, like two-block.
/// This should be amalgamated correctly once approved and embedded

// START: Cancel out existing styles
:is(.glide__slide, .template-row) {
  @media (min-width: 1200px) {
    .product-list__content--img img {
      max-height: unset;
    }
  }

  @media (min-width: 1200px) {
    .product-list__content--img {
      height: unset;
    }
  }
  // END: Cancel out existing styles

  // New styles which allow for promo tags to be placed over correct left edge of jacket
  .product-list__content--img {
    --img-max-h: 244px;
    --min-img-width: 158px;
    aspect-ratio: 13/20;
    height: unset;
    max-height: var(--img-max-h);
    display: grid;
    @media (min-width: 1200px) {
      --img-max-h: 303px;
      --min-img-width: 195px;
    }
  }

  .product-list__content--img img {
    max-height: unset;
    height: 100%;
    max-width: var(--min-img-width);
    max-height: var(--img-max-h);
    @supports (width: min(500px, 100%)) {
      max-width: min(var(--min-img-width), 100%);
    }
    margin-inline: auto;
  }
}

.template-row
  .product-item:is(#{$product-list--promo-tag-selectors}, #{$template--promo-tag-selectors}):has(
    [data-group="Book"]
  )
  .product-item--img,
.product-item.glide__slide:is(#{$product-list--promo-tag-selectors}, #{$template--promo-tag-selectors}):has(
    [data-group="Book"]
  )
  .product-item--img {
  img {
    object-position: top;
  }
}

.template-row
  .product-item:is(#{$product-list--promo-tag-selectors}, #{$template--promo-tag-selectors})
  .product-item--img,
.product-item.glide__slide:is(#{$product-list--promo-tag-selectors}, #{$template--promo-tag-selectors})
  .product-item--img {
  > a:before,
  > a:after {
    left: 50%;
    translate: calc((var(--min-img-width) / 2) * -1);
    @supports (width: min(500px, 100%)) {
      translate: calc(max((var(--min-img-width) / 2), 100%) * -1);
    }
  }
}

.product-item.glide__slide:is(#{$product-list--promo-tag-selectors}, #{$template--promo-tag-selectors}) {
  @media (min-width: 768px) {
    --jacket-divider-mt: 0rem;
  }
}
