.info-page {
  .tm {
    .full-width-image {
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    // color: $bg-brand;
    font-weight: 600;
  }
  &__text-section,
  &__table-section {
    h2 {
      // color: $bg-brand;
      font-weight: 600;
      position: relative;
      z-index: 1;
    }
    h3 {
      // color: $bg-brand;
      font-weight: 600;
      position: relative;
      z-index: 1;
    }
    a {
      // color: $bg-brand;
      text-decoration: underline;
    }
    &--button {
      margin-top: 35px;
      text-align: center;
      a {
        // @include button-variant($btn-background, $white, $btn-background);
        text-transform: capitalize;
        text-decoration: none;
      }
    }
  }
  &__table-section {
    > div {
      > .row {
        border-bottom: 1px solid #eee;
        margin-bottom: 1rem;
        &:last-child {
          border-bottom: 0;
        }
        > div {
          &:first-child {
            p {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  &__img-text-block {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    margin-bottom: 0rem;
    &.disabled {
      .info-page__img-text-block--text {
        position: relative;
        bottom: 0;
        opacity: 1;
        width: 100%;
        color: #000;
        text-align: center;
        background-color: #fff !important;
        h5 {
          color: #333;
        }
      }
    }
    a {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
    }
    img {
    }
    &--text {
      background-color: black;
      padding: 1rem;
      display: flex;
      flex-flow: column;
      flex-grow: 2;
      margin-bottom: 1.5rem;
      // @include media-breakpoint-up(md) {
        margin-bottom: 0;
      // @include media-breakpoint-up(xl) {
        bottom: -2rem;
        position: absolute;
        opacity: 0;
      // @include transition(all 0.35s ease);
      h5,
      p {
        color: #fff;
      }
      p {
        margin-bottom: 0;
      }
    }
    // @include media-breakpoint-up(xl) {
      &:hover {
        .info-page__img-text-block--text {
          bottom: 0;
          opacity: 1;
        }
      }
  }
}

.embed-container {
  position: relative;
  width: 100%;
  height: 400px;
  aspect-ratio: 16 / 9;
  // @include media-breakpoint-up(lg) {
    height: 0;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.g-accordion {
  &__wrap {
    // border-bottom: 2px solid $subtle-border;
  }
  &__title {
    position: relative;
    cursor: pointer;
    padding: 0.75rem 1rem 0.75rem 0;
    margin: 0;
    font-size: 1.25rem;
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-plus%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M8%204a.5.5%200%200%201%20.5.5v3h3a.5.5%200%200%201%200%201h-3v3a.5.5%200%200%201-1%200v-3h-3a.5.5%200%200%201%200-1h3v-3A.5.5%200%200%201%208%204%22%2F%3E%3C%2Fsvg%3E");
      background-size: 100%;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 11px;
    }
  }
  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 250ms grid-template-rows ease;
    > div {
      overflow: hidden;
    }
    &.expanded {
      grid-template-rows: 1fr;
    }
  }
}

