.info-page__text-section {
  table {
    width: 100%;
    tbody {
      th {
        // background-color: $subtle-background;
        // border-right: 1px solid $subtle-border;
        // color: $bg-brand;
        width: 33.33333333333333%;
        padding: 0.5rem;
      }
      td {
        // border-top: 1px solid $subtle-border;
        // border-right: 1px solid $subtle-border;
        // color: $bg-brand;
        width: 33.33333333333333%;
        padding: 0.5rem;
        .clickcollect-help {
          max-width: 140px;
        }
      }
      tr {
        td,
        th {
          &:last-child {
            // border-right: 0px solid $subtle-border;
          }
        }
      }
    }
  }
}
.template-help__text-body {
  ul {
    list-style: disc;
    padding-left: 2rem;
  }
}
.shop-styling {
  .title-block__main-fw {
    margin-bottom: 1.5rem;
    h2 {
      margin-bottom: 1rem;
    }
    div {
      p {
        // color: $bg-brand;
      }
      &:last-child {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  &__address {
  }
  &__number {
  }
  &__shopinfo {
    // background-color: $subtle-background;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
  }
  &__opening {
    h6 {
      // @include subheaderH;
      // color: $bg-brand;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      // border-bottom: 2px solid $subtle-border;
    }
  }
  &__hours-list {
    .whs-hours-list, .tgj-hours-list {
      padding: 0 6.25%;
      // @include breakpt-md {
        padding: 0 1.5rem;
      li {
        &:first-child {
          border-top: 0;
        }
      }
    }
  }
  &__subtext {
    p {
      padding: 0 2.25rem;
    }
  }
  &__map {
  }
  &__subheader {
    // @include subheaderH;
    // color: $bg-brand;
    // background-color: $subtle-background;
    padding: 1rem 1.5rem;
    text-align: center;
    // border-bottom: 2px solid $subtle-border;
    margin: 1.5rem 0 0 0;
  }
  .whs-stores, .tgj-stores {
    &::before {
      display: none;
    }
    &__store-facility-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      padding: 0;
      li {
        flex: 1;
        // flex-basis: 100%;
        flex-basis: 50%;
        // @include media-breakpoint-up(sm) {
          flex-basis: 50%;
        // @include media-breakpoint-up(md) {
          flex-basis: 25%;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        img {
          flex-shrink: 0;
          width: 80px;
          padding: 0.5rem 1rem;
          max-height: 66px;
        }
        span {
          flex-grow: 0;
          flex-shrink: 1;
          // color: $bg-brand;
        }
      }
    }
  }
}

