:root {
  --bg-color: oklch(50% 0 0deg);
  background-color: var(--bg-color);
}

@media (--md-n-above) {
  :root {
    background-color: red;
  }
}


@import "./base/reset";
@import "./base/root";
@import "./base/layout";
@import "./base/type";
@import "./base/buttons";
@import "./base/card";
@import "./base/collapse";
@import "./base/surface";