// MOBILE NAV
@media (max-width: breakpoint-max(md)) {
  body:has(#navMain.is-open) {
    overflow: clip;
    width: calc(100% - 1rem);
  }

  #navMain {
    position: fixed;
    bottom: 0;
    height: 100%;
    width: min(80vw, 400px);
    background: #fff;
    z-index: 999;
    left: 0;
    transition: transform 0.3s ease;
  }

  #navMain.is-open {
    transform: translateX(0);
  }
}

@media (max-width: calc(768px - 0.2px)) {
  // ul.primary {
  //   width: min(80vw, 400px);
  // }

  body.mobileMenuOpen {
    &:is(.primary > li, .categories .category) {
      max-height: 90dvh;
      overflow: auto;
    }
  }
}

