@use "sass:color";
@use "sass:map";
@use "sass:math";
@use "sass:list";
@use "small-style/scss/base/variables/config" with (
  $button-selectors: '.btn',
  $line-height-relative: 1.1em,
  $field-border-color: var(--tw-color-grey-10),
  $radius: 2rem,
);
// @import "./mixins/utils/strip-unit";
// @use "small-style/scss/theme" as *;
@import "small-style/scss/base/mixins";
@import "small-style/scss/base/functions";


$prefix: "bs-"; /// Override Bootstrap's default prefix here
$base-prefix: "base-";
$site-prefix: "site-"!default;
$tw-prefix: "tw-"!default;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";


/// Framework base imports
@import "./framework/base/functions";
@import "./framework/base/variables";
@import "./framework/base/mixins";
@import "./framework/base/media";
/// Set map overrides here
// $grid-breakpoints: map.set($grid-breakpoints, "md", 790px);

// @debug map-get($grid-breakpoints , 'md' );
@import "./framework/modules/variables";

@import "./core/variables";


@layer framework.modules {
  @import "@glidejs/glide/src/assets/sass/glide.core";
  @import "@glidejs/glide/src/assets/sass/glide.theme";
  @import "./framework/modules";
}

@layer framework.bs {
  @import "./framework/bootstrap";
}

@layer framework.base {
  @import "./framework/base";
}

@layer core {
  @import "./core/style";
}

@layer utilities {
  @import "./framework/base/utilities";
}

.book-wave {
  --book-width: calc((100 / var(--total, 6) * 1%) + (var(--step)*2));
  --step: min(12cqw, 85px);       /* Horizontal spacing; smaller = more overlap */
  --amplitude: 28px;  /* Wave height */
  --phase: 65deg;     /* Wave progression per image */

  display: grid;
  position: relative;
  isolation: isolate;
  min-height: 260px;
  // padding-block: var(--amplitude);
  overflow: visible;
}

.book-wave > img {
  --angle: calc(var(--i) * var(--phase));

  grid-area: 1 / 1;
  align-self: center;
  width: var(--book-width);
  // height: 190px;
  object-fit: contain;

  position: relative;
  z-index: var(--z);

  // transform:
  //   translateX(calc(var(--i) * var(--step)))
  //   translateY(calc(sin(var(--angle)) * var(--amplitude)))
  //   rotate(calc(cos(var(--angle)) * -6deg));

  transform:
    translateX(calc(var(--i) * var(--step)))
    translateY(calc(sin(var(--angle)) * var(--amplitude)));  

  filter: drop-shadow(0 8px 6px rgb(0 0 0 / 20%));
}