@use "sass:color";
@use "sass:map";
@use "sass:math";
@use "sass:list";
@use "small-style/scss/base/variables/config" with (
  $button-selectors: '.btn',
  $line-height-relative: 1.1em,
  $field-border-color: var(--tw-color-grey-10)
);
// @import "./mixins/utils/strip-unit";
// @use "small-style/scss/theme" as *;
@import "small-style/scss/base/mixins";
@import "small-style/scss/base/functions";


$prefix: "bs-"; /// Override Bootstrap's default prefix here
$base-prefix: "base-";
$site-prefix: "site-"!default;
$tw-prefix: "tw-"!default;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";


/// Framework base imports
@import "./framework/base/functions";
@import "./framework/base/variables";
@import "./framework/base/mixins";
@import "./framework/base/media";
/// Set map overrides here
// $grid-breakpoints: map.set($grid-breakpoints, "md", 790px);

// @debug map-get($grid-breakpoints , 'md' );
@import "./framework/modules/variables";

@import "./core/variables";


@layer framework.modules {
  @import "@glidejs/glide/src/assets/sass/glide.core";
  @import "@glidejs/glide/src/assets/sass/glide.theme";
  @import "./framework/modules";
}

@layer framework.bs {
  @import "./framework/bootstrap";
}

@layer framework.base {
  @import "./framework/base";
}

@layer core {
  @import "./core/style";
}

@layer utilities {
  @import "./framework/base/utilities";
}
