/* ----- Add To Basket - eBook, customBooks -------------------- */
.storeFrontAlert {
  &.buyEbookPopup,
  &.buyCustomisedBookPopup {
    display: flex;
    flex-direction: column;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
    padding: 2rem;
    width: 80vw;
    max-width: 500px;
    text-align: center;
    background: #fff;
    border: 4px solid #002f87;
    border-radius: 1em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);

    p {
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
    }

    a {
      display: block;
      padding: 1em 0;
      margin-inline: auto;
      width: max-content;
      color: #002f87;
      text-decoration: underline;
      cursor: pointer;
    }

    .productionMessage {
      display: block;
      margin-top: 1em;
      text-align: center;
    }

    .storefrontAlert-button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      button {
        display: inline-block;
        border: 2px solid #002f87;
        border-radius: 5px;
        padding: 10px 32px;
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
        &.cancel {
          background: #fff;
          color: #002f87;
        }
        &.confirm {
          background: #002f87;
          color: #fff;
        }
      }
    }
  }
}
.storeFrontAlert {
  &.buyEbookPopup{
    a{
      display: inline;
    }
  }
}
/* ----- @Add To Basket - eBook -------------------- */

