#basket {
  > h2 {
    position: relative;
    margin-block: 1.5rem;
    // color: $bg-brand;
    font-weight: 500;
    position: relative;
    z-index: 1;
    font-size: clampWithViewPort(24, 40);
  }
  .alert {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

:where(#mainBasket) {
  grid-template-columns: 1.6fr;
  gap: 0 var(--bs-gutter-x);
  display: grid;
  grid-template-areas:
    "free-delivery"
    "validation"
    "main-basket"
    "side-basket";
  // @include media-breakpoint-up(lg) {
    grid-template-columns: 1.4fr 0.5fr;
    grid-template-areas:
      "free-delivery free-delivery"
      "validation validation"
      "main-basket side-basket";
  > .basketSpendFreeDelivery {
    display: none;
  }
  #emtpy {
    padding: 2rem;
    text-align: center;
    // color: $bg-brand;
    grid-column: 1/-1;
  }
  > div:first-child {
    grid-area: validation;
  }
  > form {
    grid-area: main-basket;
    // border: 2px solid $subtle-background;
  }
  // > .basketSpendFreeDelivery {
  //   grid-area: free-delivery;
  //   border: 2px solid #00adb5;
  //   padding: 1rem;
  //   color: #07858b;
  //   font-weight: 600;
  //   text-align: center;
  //   margin-bottom: 0.5rem;
  //   .spendMoreToGetFreeDelivery{
  //     @include media-breakpoint-up(lg) {
  //       display: inline-block;
  //       line-height: 32px;
  //       padding-left: 42px;
  //       background-image: url('/content/system/images/product-icons/icon-home-del.svg');
  //       background-size: 30px;
  //       background-position: left center;
  //       background-repeat: no-repeat;
  //     }
  //     &::before {
  //       content: '';
  //       background-image: url('/content/system/images/product-icons/icon-home-del.svg');
  //       background-size: 30px;
  //       background-position: center;
  //       background-repeat: no-repeat;
  //       margin-bottom: 10px;
  //       height: 30px;
  //       width: 100%;
  //       display: block;
  //       @include media-breakpoint-up(lg) {
  //         content: none;
  //       }
  //     }
  //   }

  // }
  // @include paragraphH;
  font-size: 1em;
  h3 {
    // @include smallsubheaderH;
    text-wrap: pretty;
    max-width: 40ch;
    line-height: 1.5;
    // color: $bg-brand;
  p {
    margin-bottom: 0.5rem;
  #basketTable {
    #basketHeader {
      display: none;
      flex-wrap: wrap;
    }
    #basketBody {
      .row {
        position: relative;
        padding: 1.5rem;
        margin: 0;
        grid-template-rows: repeat(4, min-content);
        display: grid;
        column-gap: 1rem;
        grid-template-columns: clamp(90px,calc(90px + (138 - 90) * (100vw - var(--vw-min) * 1px) / (var(--vw-max) - var(--vw-min))),138px) 1fr 1rem;
        // border: 2px solid $subtle-background;
        border-radius: calc(10 / 16 * 1rem);
        font-size: 0.875rem;
        + .row {
          margin-top: 0.75rem;
        }
        // &:last-child {
        //   border-bottom: 0;
        // }
        > div {
          padding: 0;
        }
        grid-template-areas:
          "jacket info blank"
          "jacket format blank"
          "jacket status blank"
          "jacket price blank"
          "jacket subtotal blank"
          "jacket quantity blank";

        // @include media-breakpoint-up(md) {
          grid-template-columns: clampWithViewPort(90, 138) 2.1fr 0.4fr 0.4fr;
          grid-template-areas:
            "jacket info quantity subtotal"
            "jacket format quantity subtotal"
            "jacket status quantity subtotal"
            "jacket price quantity subtotal";
          aspect-ratio: 966 / 237;

        .itemCover {
          // grid-area: jacket;
          // aspect-ratio: 2 / 3;
          width: clampWithViewPort(90, 138);
          position: absolute;
          // width: 132px;
          height: calc(100% - 2rem);
          top: 1rem;
          left: 1rem;
          a {
            position: absolute;
            width: clampWithViewPort(90, 138);
            height: 100%;
          }
          .jacket-Book {
            height: 100%;
            display: block;
          }
          img {
            height: 100%;
            max-height: 187px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            // object-fit:cover;
          }
        }
        .itemInfo {
          grid-area: info;
          h3 {
            font-size: min(1.15em, 1rem);
          }
        }
        .itemFormat {
          grid-area: format;
        }
        .itemStatus {
          grid-area: status;
          grid-column-end: -1;
          .availability-description {
            &::before {
              content: " - ";
              display: inline;
            }
          }
        }
        .itemPrice {
          // margin: 0.5rem 0;
          grid-area: price;
          .productPrice {
            font-size: min(1.15em, 1rem);
            font-weight: 600;
            // color: $bg-brand;
            // font-family: $headings-font-family;
            .rrp {
              text-decoration: line-through;
              font-size: 14px;
              color: #9a9a9a;
              font-weight: 400;
            }
          }
        }
        .itemQuantity {
          grid-area: quantity;
          // @media (max-width: calc(map.get($grid-breakpoints, "md") - 1px)) {
            margin-top:1rem;
          .quantityTotal {
            display: grid;
            grid-template-columns: 0.2fr 1.6fr;
            grid-template-rows: 1fr;
            column-gap: 0.25rem;
            grid-template-areas:
              "inputnum"
              "button1";
            input[type="number"] {
              grid-area: inputnum;
              width: fit-content;
              // border: 2px solid #002f87;
              // margin-bottom: 0.25rem;
              // padding: 0.25rem;
              // padding-left: 0.5rem;
              &:disabled {
                display: none;
              }
            }
            .basket-check {
              text-decoration: underline;
              // color: $bg-brand;
              border: 0;
              padding: 0.25rem;
              // @media (max-width: calc(map.get($grid-breakpoints, "md") - 1px)) {
                grid-column: 2 / 2;
                grid-row: 1 / 1;
            }
            input[type="submit"] {
              // color: $bg-brand;
              grid-area: button1;
              text-decoration: underline;
              // @include linkH;
              padding-bottom: 0;
              padding-inline: 0;
              border-bottom: 0;
            }
            .removeItem {
              a {
                position: absolute;
                top: 1rem;
                right: 1rem;
                // @include close-button($primary);
              }
            }
          }
        }
        .itemSubtotal {
          grid-area: subtotal;
          display: none;
          // color: $bg-brand;
          font-weight: 600;
          // font-family: $headings-font-family;
          font-size: clamp(18px, 0.5em + 1vw, 22px);
          // @include media-breakpoint-up(md) {
            display: block;
            grid-column: -1;
            grid-row: 2;
        }
      }
    }
  }
}
.basketfooter {
  margin-top: 1.5rem;
  &__header {
    // background-color: $bg-brand;
    color: #fff;
    text-align: center;
    padding: 1rem;
    h3 {
      margin: 0;
      // @include largesubheaderH;
    }
  }
  &__wrap {
    display: flex;
    background-color: #eceff6;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 1rem;
    // background-color: $subtle-background;
    flex-flow: column;
    // @include media-breakpoint-up(md) {
      flex-flow: row;
    &--single {
      text-align: center;
      width: 100%;
      padding: 2rem;
      // @include media-breakpoint-up(lg) {
        padding: 3rem;
      &:nth-child(2) {
        // border-top: 1px solid $subtle-border;
        // border-bottom: 1px solid $subtle-border;
      }
      // @include media-breakpoint-up(md) {
        width: 33.333333%;
        &:nth-child(2) {
          // border-left: 1px solid $subtle-border;
          // border-right: 1px solid $subtle-border;
          border-bottom: 0;
          border-top: 0;
        }
      img {
        max-width: 130px;
        height: auto;
        display: inline-block;
        margin-bottom: 1rem;
      }
      h4 {
        // @include smallsubheaderH;
        // color: $bg-brand;
      }
      p {
        // @include paragraphH;
        // color: $bg-brand;
      }
    }
  }
}
