  @mixin heading-size($size) {
    @if (check-if-heading-size($size)) {
      $font-size: map.get(map.get($headings, $size), "size");
      @if (check-if-type-size($font-size)) {
        $default-font-max-size: site-font-size($font-size, px);
        font-size: calc(
          var(--#{$base-prefix}#{$font-size}-font-size, site-font-size($font-size)) *
            var(--unit, var(--font-size-base, #{$font-size-base}))
        );
        --font-size-max: var(
          --#{$site-prefix}#{$font-size}-font-size-max,
          #{$default-font-max-size}
        );
      }
      $min-size: map.get(map.get($headings, $size), "min-size");
      @if (check-if-type-size($min-size)) {
        $default-font-min-size: site-font-size($min-size, px);
        --font-size-min: var(
          --#{$site-prefix}#{$font-size}-font-size-min,
          #{$default-font-min-size}
        );
      }
      --font-ratio-min: var(
        --#{$base-prefix}#{$font-size}-font-ratio-min,
        var(--#{$base-prefix}font-ratio-min, #{$fluid-font-ratio-min})        
      );
      --font-ratio-max: var(
        --#{$base-prefix}#{$font-size}-font-ratio-max,
        var(--#{$base-prefix}font-ratio-max, #{$fluid-font-ratio-max})
      );
      --font-width-min: var(
        --#{$base-prefix}#{$font-size}-font-width-min,
        var(--#{$base-prefix}font-width-min,
        #{$fluid-font-width-min})
      );
      --font-width-max: var(
        --#{$base-prefix}#{$font-size}-font-width-max,
        var(--#{$base-prefix}font-width-max, var(--root-max-wrapper-width, #{$fluid-font-width-max}))
      );
    }
  }
