/* Double Product Card w/ BG */
.product-card-bg__wrapper {
  // @media (min-width: map.get($grid-breakpoints, "md")) {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.product-card-bg__card {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: var(--c-ribbon, #4f7ad1);
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  overflow: clip;

  // @media (min-width: map.get($grid-breakpoints, "md")) {
    background: linear-gradient(
      var(--c-grad-deg, 90deg),
      var(--c-col-START, #d2dff4),
      var(--c-col-END, #8daae2)
    );

    &:hover {
      .product-card-bg__content {
        height: 100%;
      }

      .product-card-bg__image img {
        left: 20px;
        transform: translateY(-50%) scale(105%);
        border-radius: 5px;
      }
    }
}

.product-card-bg__content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  height: calc(100% - 120px);
  width: 100%;
  padding: 16px;

  // @media (min-width: map.get($grid-breakpoints, "sm")) and (max-width: calc(map.get($grid-breakpoints, "lg") - 0.2px)) {
    grid-template-columns: 1fr 2fr;

  // @media (min-width: map.get($grid-breakpoints, "md")) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-block: 60px;
    padding: 20px;
    background: var(--c-ribbon, #4f7ad1);
    transition: all 0.3s ease-in-out;

  @media (min-width: 992px) {
    padding: 40px;
  }
}

.product-card-bg__image {
  display: grid;
  place-content: center;
}

.product-card-bg__image img {
  width: auto;
  max-height: 300px;
  aspect-ratio: 260/400;
  object-fit: fill;
  object-position: center;
  border-radius: 10px;
  box-shadow:
    0px 2px 0px 0px #ffffff24 inset,
    0px 4px 4px 0px #00000040;

  // @media (min-width: map.get($grid-breakpoints, "md")) {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: calc(50% - 30px);
    height: auto;
    transition: all 0.3s ease-in-out;

  // @media (min-width: map.get($grid-breakpoints, "lg")) {
    left: 40px;
    width: calc(50% - 50px);
    max-width: fit-content;
}

.product-card-bg__summary {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0;
    margin-bottom: 10px;
    // font: 700 16px/1.25 $text-font-stack;

    // @media (min-width: map.get($grid-breakpoints, "md")) {
      margin-bottom: 20px;
      // font: 700 30px/1 $text-font-stack;
  }

  p {
    margin: 0;
    // font: 400 18px/1.35 $text-font-stack;
  }
}

.image-with-text {
  // color: $bg-brand;
  &--bg {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  h3 {
    font-size: calc(30 / 16 * 1em);
    // font-family: $text-font-stack;
    font-weight: 700;
  }

  h4 {
    font-size: 22px;
    font-weight: 400;
    // font-family: $text-font-stack;
  }

  &__image-wrap {
    img {
      border-radius: 10px;
    }

    &--left {
      order: 1;
      margin-bottom: 1rem;

      // @include breakpt-sm {
        margin-bottom: 0;
    }

    &--right {
      order: 3;
    }
  }
  &__text-wrap {
    order: 2;
    position: relative;
    display: flex;
    flex-direction: column;

    &:has(.buyButton) {
      padding-bottom: 100px;
    }
  }

  &__bottom {
    margin-top: auto;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 22px;
    font-family: "Arsenal";

    > span {
      display: block;
      margin-bottom: 1rem;
    }
  }

  &__cta {
    max-width: 50%;
  }
}

// :is(.glide__slide, .template-row) {
//   @media (min-width: 1200px) {
//     .product-list__content--img img {
//       max-height: unset;
//     }
//   }

//   @media (min-width: 1200px) {
//     .product-list__content--img {
//       height: unset;
//     }
//   }
// END: Cancel out existing styles

// New styles which allow for promo tags to be placed over correct left edge of jacket
.product-list__content--img {
  //     --img-max-h: 244px;
  //     --min-img-width: 158px;
  aspect-ratio: 13/20;

  //     max-height: var(--img-max-h);
  //     display: grid;
  //     @media (min-width: 1200px) {
  //       --img-max-h: 303px;
  //       --min-img-width: 195px;

  //     }
  > span {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;

  a {
    display: inline-block;
    margin: 0 auto;
    position: relative;
  }

  img {
    //     max-height: unset;
    //     // height: 100%;
    //     width: auto
    max-height: 290px;
    max-width: 100%;
    display: initial;
    border-radius: 10px;
    box-shadow:
      0px 2px 0px 0px #ffffff24 inset,
      0px 4px 4px 0px #00000040;

    //     max-width: var(--min-img-width);
    //     max-height: var(--img-max-h);
    //     @supports (width: min(500px, 100%)) {
    //       max-width: min(var(--min-img-width), 100%);
    //     }
    //     margin-inline: auto;
    //   }
  }
}

// .template-row
//   .product-item:is(#{$product-list--promo-tag-selectors}, #{$template--promo-tag-selectors}):has(
//     [data-group="Book"]
//   )
//   .product-item--img,
// .product-item.glide__slide:is(#{$product-list--promo-tag-selectors}, #{$template--promo-tag-selectors}):has(
//     [data-group="Book"]
//   )
//   .product-item--img {
//   img {
//     object-position: top;
//   }
// }

// .template-row
//   .product-item:is(#{$product-list--promo-tag-selectors}, #{$template--promo-tag-selectors})
//   .product-item--img,
// .product-item.glide__slide:is(#{$product-list--promo-tag-selectors}, #{$template--promo-tag-selectors})
//   .product-item--img {
//   > a:before,
//   > a:after {
//     left: 50%;
//     translate: calc((var(--min-img-width) / 2) * -1);
//     @supports (width: min(500px, 100%)) {
//       translate: calc(max((var(--min-img-width) / 2), 100%) * -1);
//     }
//   }
// }

// .product-item.glide__slide:is(#{$product-list--promo-tag-selectors}, #{$template--promo-tag-selectors}) {
//   @media (min-width: 768px) {
//     --jacket-divider-mt: 0rem;
//   }
// }

/* Text Image Block */
:not(.smaller-template-content) {
  .template-container {
    @extend .container-md;
  }
  .template-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    > * {
      flex-shrink: 0;
      max-width: 100%;
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      margin-top: var(--bs-gutter-y);
    }
  }

// .double_bg_product {
//   height: 100%;
//   position: relative;
//   background: linear-gradient(
//     90deg,
//     var(--startCol, #eceff6),
//     var(--endCol, #eceff6) 150%
//   );
//   border-radius: 10px;

//   &__link {
//     &:hover {
//       text-decoration: none !important;
//     }
//   }

//   &__image-wrap {
//     padding: 1rem;
//     padding-right: 0;
//     height: 100%;

//     img {
//       width: 100%;
//       height: 100%;
//       margin: 0 auto;
//       max-width: 100%;
//       position: relative;
//       z-index: 1;
//       border-radius: 10px;
//     }
//   }

//   &__text {
//     position: relative;
//     z-index: 1;
//     padding: 30% 2rem;
//     padding-left: 0;
//     color: #ffffff;

//     H3 {
//       font-family: Arsenal;
//       font-weight: 700;
//       font-size: 16px;
//       @include media-breakpoint-up(md) {
//         font-size: 30px;
//       }
//     }

//     P {
//       font-family: Arsenal;
//       font-weight: 400;
//       font-size: 14px;
//       @include media-breakpoint-up(md) {
//         font-size: 22px;
//       }
//     }
//   }

//   &__bar {
//     height: 70%;
//     width: 100%;
//     position: absolute;
//     z-index: 0;
//     top: 15%;
//   }
// }

.skewed-jacket {
  &__img {
    img {
      max-width: 90%;
      transform: rotate(-12.5deg);
    }
  }
  &__text {
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h3 {
      font-size: 22px;
    }
  }

.text-image-block {
  &__header h2 {
    font:
      600 1.2rem Gotham-Bold,
      tahoma,
      Arial,
      sans-serif;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 18px;
    color: #333333;
  }
  &__content {
    -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin: 1rem 0;
  }
  &__subtext {
    font:
      400 13px Gotham-Book,
      Arial,
      sans-serif !important;
    padding: 11px 10px 15px 10px;
    margin-bottom: 0;
    height: 60px;
  }

.link-block {
  &__link {
    // color: $bg-brand;
    font-weight: 600;
    padding: 0.75rem;
    // border: 1px solid $bg-brand;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.35s ease;
    &::after {
      content: "";
      width: 0;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #013088;
      color: #fff;
      transition: width 0.2s ease;
      z-index: -1;
      position: absolute;
    }
    &:hover {
      color: #fff;
      text-decoration: none;
      &::after {
        width: 100%;
      }
    }
  }

.blue-faded {
  .link-block {
    &__link {
      // background-color: $subtle-background;
  }

.img-banner {
  position: relative;
  &.fw-bg {
    .glide__slide {
      width: 100%;
    }
  }
  .single-img {
    margin-left: auto;
    margin-right: auto;
  }
  .two-col {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 3rem;
    margin-bottom: 0;
    display: flex;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    flex-direction: row;
    align-items: center;
    // @include media-breakpoint-up(md) {
    &__left {
      width: 50%;
    }
    &__right {
      width: 50%;
      padding: 0.5rem 0;
      // @include media-breakpoint-up(md) {
        padding-left: 1rem;
      a {
        color: #fff;
      }
      h6 {
        font-size: 22px;
        // @include media-breakpoint-up(sm) {
          font-size: 26px;
        // @include media-breakpoint-up(md) {
          font-size: 36px;
        color: #fff;
      }
      p {
        font-size: 1.25rem;
        // @include media-breakpoint-up(md) {
          font-size: 22px;
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  &__main {
    position: relative;
  }
  .glide__arrows {
    // @include container();
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  .glide__arrow--right {
    right: 1rem;
  }
  .glide__arrow--left {
    left: 1rem;
  }
  .single-img__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: calc(-1rem);
    // @include button-variant($btn-background, $white, $btn-background);
  }

