// Ten Up Image Carousel
.product-carousel--ten-up {
  .glide__slide {
    display: grid;
    place-content: center center;
    padding: 1rem;

    * {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    a {
      display: block;
      max-width: 100px;
      max-height: 100px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.4));
      transition: 150ms ease-in-out;
    }

    // Product Carousel
    &:has(a + div) {
      a {
        z-index: 2;
      }

      .product__background {
        background: var(--product-background, #000e67);
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }

    // Image Carousel
    &:not(:has(a + div)) {
      a {
        border-radius: 50%;
        overflow: hidden;

        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
.one-family {
  &__wrapper {
    margin-bottom: 2rem;
  }
  &__wrap {
    background-color: #1c1a3f;
    height: 100%;
    position: relative;
    margin-bottom: 2rem;
  }

  &__image-wrap {
    border-bottom: #dd1771 8px solid;
  }

  &__text-wrap {
    padding-bottom: 60px;
    h3 {
      margin: 0;
      color: #ffffff;
      font-weight: 700;
      padding: 30px 30px 0 40px;
      // @include breakpt-xl {
        padding: 30px 30px 0 60px;
    }
    ul {
      margin: 0;
      padding: 20px 30px 20px 40px;
      // @include breakpt-xl {
        padding: 20px 30px 20px 60px;
      li {
        list-style: none;
        padding: 10px 0 0 50px;
        min-height: 30px;
        margin-bottom: 20px;
        display: block;
        position: relative;
        color: #ffffff;
        font-weight: 600;

        &::before {
          content: "";
          background: url("/Content/Pages/Brands/OneFamily/Vector.png") 50% 50%
            no-repeat;
          position: absolute;
          height: 30px;
          width: 30px;
          border-radius: 15px;
          left: 0;
          background-color: #ffffff;
        }
      }
    }
  }

  &__button-wrap {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
    // width: 100%;
    a {
      background-color: #dd1771;
      color: #ffffff;
      text-align: center;
      line-height: 24px;
      padding: 15px;
      width: 100%;
      display: block;
      font-weight: 600;
    }
  }

  &-list {
    margin-top: 80px;

    li {
      position: relative;
      list-style: none;
      min-height: 86px;
      font-size: 22px;
      margin-bottom: 3rem;
      padding-left: calc(86px + 1ch);
      --family-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23808"><path xmlns="http://www.w3.org/2000/svg" d="M41.2248 2.21276C42.0669 1.38299 43.1876 0.924255 44.3503 0.933361C45.513 0.942466 46.6268 1.4187 47.4567 2.26156C48.2866 3.10443 48.7677 4.248 48.7984 5.45098C48.8291 6.65396 48.4071 7.82225 47.6214 8.70932L23.7684 39.5835C23.3583 40.0407 22.8632 40.4076 22.3129 40.6623C21.7626 40.917 21.1684 41.0542 20.5656 41.0658C19.9629 41.0773 19.3641 40.963 18.8051 40.7295C18.246 40.4961 17.7382 40.1484 17.312 39.7072L1.49369 23.3359C1.05318 22.911 0.699857 22.3987 0.454799 21.8295C0.209741 21.2603 0.0779701 20.6458 0.0673482 20.0228C0.0567262 19.3997 0.167471 18.7808 0.392975 18.203C0.618478 17.6252 0.954122 17.1003 1.37988 16.6596C1.80564 16.219 2.31279 15.8716 2.87108 15.6382C3.42938 15.4048 4.02737 15.2902 4.62939 15.3012C5.23141 15.3122 5.82513 15.4486 6.37512 15.7022C6.92511 15.9558 7.4201 16.3215 7.83058 16.7774L20.3489 29.7272L41.1112 2.34888L41.2248 2.21276Z" fill="white"/></svg>');

      &::before {
        content: "";
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: block;
        width: 86px;
        height: 86px;
        background: var(--family-icon);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.manualForm {
  .custom-form {
    margin-bottom: 1rem;
    label {
      display: block;
      margin-top: 0.5rem;
      color: #000e67;
      font-weight: bold;
      grid-row-start: 1;
    }
    .questions {
      display: block;
      color: #000e67;
      font-weight: bold;
      margin-bottom: 0.25rem;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      display: block;
      margin: 0.25rem 0 0.5rem;
      border: 2px solid #bcc8de;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      background-clip: padding-box;
      border-radius: 0;
      width: 100%;
      grid-row-start: 1;
    }
    input[type="checkbox"] {
      width: 24px;
      height: 24px;
      border: 2px solid #bcc8de;
    }
    &__radioGroup {
      .answers {
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        > div {
          flex: none;
        }
      }
    }
    &__radioOption {
      flex: none;

      input {
        display: block;
        float: left;
        margin-right: 0.5rem;
        width: 24px;
        height: 24px;
        border-color: #bcc8de;
      }
      label {
        margin: 0;
        display: block;
        float: left;
        color: var(--bs-body-color);
        font-weight: normal;
        line-height: 24px;
      }
    }
    &.checkbox {
      display: grid;
      grid-template-columns: [controls] auto [labels] 1fr;
      grid-auto-flow: row;
      grid-row-gap: 0rem;
      grid-column-gap: 1.5rem;
      // @include breakpt-md {
        grid-template-columns: [labels] auto [controls] 1fr;
      label {
        grid-column: labels;
        margin-top: 0;
      }
      input {
        grid-column: controls;
      }
    }
    // @include breakpt-md {
      display: grid;
      grid-template-columns: [labels] auto [controls] 1fr;
      grid-auto-flow: row;
      grid-row-gap: 0rem;
      grid-column-gap: 1.5rem;
      &.eAdd,
      .pass {
        .field-validation-error {
          grid-area: 2 / 2;
        }
      }
      label,
      .questions {
        width: var(--formLabelSpace);
        // @include breakpt-md {
          width: calc(var(--formLabelSpace) * 1.5);
      }
      .emailAddress {
        margin: 0.5rem 0;
      }
      .field-validation-valid {
        padding-left: 0;
      }
      .field-validation-error {
        grid-column: controls;
      }
      .custom-control {
        padding-left: 1.5rem;
      }
      .custom-control,
      .field-validation-valid {
        position: relative;
        display: block;
        grid-column: controls;
        grid-row: auto;
        border: none;
      }
  }
  #formSubmitButton {
    // @include breakpt-md {
      margin-left: calc((var(--formLabelSpace) * 1.5) + 1.5rem);
    input[type="submit"] {
      background-color: #002f87;
      color: #fff;
      font-weight: 600;
      padding: 6px 18px;
      text-align: center;
      border: 2px solid #002f87;
      border-radius: 0;
      display: inline-block;
      max-width: 195px;
      cursor: pointer;
      -webkit-transition: background-color 0.5s ease;
      -moz-transition: background-color 0.5s ease;
      -ms-transition: background-color 0.5s ease;
      -o-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease;
      margin-top: 0.5rem;
    }
  }
}
