#addressBook {
  .myAccountHeader {
    margin-bottom: 1rem;
  }

  #addAddressButton {
    margin-top: -2rem;
    // background: $subtle-background;
    padding: 1rem;
    text-align: center;
    .button {
      // @include button-variant($btn-background, $white, $btn-background);
      margin: 0 auto;
    }
  }
}
.myAccount,
.form-group,
.inputFields {
  label:has(~ input[data-val-required]):after {
    content: " *";
  }
}

.manual-breadcrumb {
  #breadcrumb {
    .breadcrumb {
      &__list {
        gap: 0;
        padding: 0;
      }

      &__item:not(:last-of-type)::after {
        padding: 0 0.5rem;
      }
    }
  }
}

#orderHistory {
  .myAccountMain {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    > ul {
      li.header {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        font-size: 1.25rem;
        // color: $bg-brand;
        border-bottom: 2px solid #929fb6;
        background-color: #eceff6;
        > ul {
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          grid-column-gap: 0;

          li {
            position: relative;
            width: 100%;
            min-height: 1px;
            padding: 15px;
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
          }
        }
      }

      li.history {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        font-size: 1.25rem;
        // color: $bg-brand;
        border-bottom: 1px solid #929fb6;
        background-color: #eceff6;
        ul.orderDetails {
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          grid-column-gap: 0;

          > li {
            position: relative;
            width: 100%;
            min-height: 1px;
            padding: 15px;
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
          }

          .order {
            a {
              display: inline-block;
              font-weight: 400;
              color: #3a3a3a;
              text-align: center;
              vertical-align: middle;
              cursor: pointer;
              user-select: none;
              background-color: transparent;
              border: 1px solid transparent;
              padding: 0.375rem 0.75rem;
              font-size: 1rem;
              line-height: 1.5;
              transition:
                color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
              color: #fff;
              background-color: #1c4aa0;
              width: 100%;
              padding: 0.375rem 0.25rem;
              margin-bottom: 0;
            }
          }

          .images {
            display: none;
          }
        }

        .prevOrderDetails {
          background-color: #ffffff;
          margin-top: 10px;
          // border: 2px solid $subtle-background;
          p {
            margin-bottom: 0;
            span {
              font-weight: normal;
              color: #333;
            }
          }

          .orderDetails {
            padding: 1rem 1.5rem;
            h5 {
              font-size: 22px;
              // color: $bg-brand;
              border-bottom: 1px solid #929fb6;
              padding-bottom: 1rem;
              padding-top: 0.5rem;
              margin-bottom: 1rem;
            }
            .supported {
              > p {
                text-transform: capitalize;
                margin-bottom: 0;
                span {
                  font-weight: normal;
                  color: #333;
                }

                &::before {
                  content: "Supported ";
                }
              }
            }
          }

          .item {
            padding: 0 1.5rem;
            position: relative;
            margin-bottom: 1rem;

            .itemWrap {
              > ul {
                // @include media-breakpoint-up(sm) {
                  grid-template-columns: 120px calc(100% - 210px) 70px;

                display: grid;
                display: -ms-grid;
                grid-gap: 0;
                -ms-grid-columns: 80px calc(100% - 170px) 70px;
                grid-template-columns: 80px calc(100% - 170px) 70px;
                grid-template-rows: repeat(3, min-content);
                grid-column-gap: 10px;
                grid-row-gap: 0;
                grid-template-areas:
                  "jacket title blank"
                  "jacket price blank"
                  "jacket status blank";

                p {
                  margin-bottom: 0;
                  color: #333;
                  font-size: 1rem;
                }

                .itemImage {
                  order: 1;
                  grid-area: jacket;
                  img {
                    max-height: 100px;
                  }
                }

                .itemInfo {
                  order: 2;
                  grid-area: title;
                  font-family: "proxima-nova", arial, sans-serif;
                  h6 {
                    margin-bottom: 0;
                  }
                }

                .status {
                  order: 2;
                  grid-area: status;
                  margin-bottom: 0;
                  color: #333;
                  font-size: 15px;
                  p {
                    margin-bottom: 0;
                    color: #333;
                    font-size: 15px;
                  }
                  .orderStatus {
                    font-size: 15px;
                    display: block;
                    width: 100%;

                    &:before {
                      content: "Status:";
                      display: inline-block;
                      font-size: 1rem;
                      margin-right: 5px;
                      font-weight: bold;
                    }
                  }
                  .btn {
                    margin-top: 5px;
                    padding: 2px 18px;
                  }
                  .orderLineDisabledCancel {
                    display: none;
                  }
                }

                .priceQuantity {
                  order: 2;
                  grid-area: price;

                  .price {
                    width: 100%;
                    font-size: 1rem;
                    font-weight: normal;

                    &:before {
                      content: "Price:";
                      display: inline-block;
                      margin-right: 5px;
                      font-weight: bold;
                    }
                  }

                  .quantity {
                    width: 100%;
                    font-size: 1rem;
                    font-weight: normal;

                    &:before {
                      content: "Quantity:";
                      display: inline-block;
                      margin-right: 5px;
                      font-weight: bold;
                    }
                  }

                  .subtotal {
                    width: 100%;
                    font-size: 1rem;
                    font-weight: normal;

                    &:before {
                      content: "Subtotal:";
                      display: inline-block;
                      margin-right: 5px;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }

          div.orderTotal {
            .paymentDelivery {
              margin-bottom: 1rem;
              &::before {
                content: "Payment Delivery";
                display: block;
                background-color: #ebeff5;
                // color: $bg-brand;
                padding: 1rem 1.5rem;
                margin-bottom: 1rem;
              }
              p,
              .deliverySmsNumber,
              .deliverySafePlace {
                padding: 0 1.5rem;
              }
            }
            .pricing {
              margin-bottom: 1rem;
              &::before {
                content: "Pricing";
                display: block;
                background-color: #ebeff5;
                // color: $bg-brand;
                padding: 1rem 1.5rem;
                margin-bottom: 1rem;
              }
              p {
                padding: 0 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
#passwordReset {
  .myAccountContents {
    .myAccountHeader {
      display: none;
    }
  }
}
