/* Form Aligmenments */
.my-account-header {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  > h1 {
    font-weight: 700;
  }
  a {
    // color: $primary;
  }
}

@mixin loginLayoutDefault() {
  --formLabelSpace: 100%;
  .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    column-gap: 1rem;
    &.pass {
      > input {
        width: calc(100% - 4.2rem);
        display: inline-flex;
        + .custom-control {
          display: inline-flex;
        }
      }
      .custom-control-input {
        height: 100%;
        width: 100%;
        padding: 0;
        border: 0;
      }
      .custom-control-label {
        margin-top: 0;
      }
    }
  }
  .rememberMe {
    margin-bottom: 0.5rem;
  }
}

// @mixin loginLayoutGridLayout($bp-up: "lg") {
  // @media (min-width: map.get($grid-breakpoints, #{$bp-up})) {
    --formLabelSpace: 200px;
    .form-group {
      margin-bottom: 0;
      display: grid;
      grid-template-columns: [labels] auto [controls] 1fr;
      grid-auto-flow: row;
      grid-row-gap: 0rem;
      grid-column-gap: 1.5rem;
      &.eAdd,
      &.pass {
        > input {
          width: 100%;
        }
        .field-validation-error {
          grid-area: 2 / 2;
        }
      }
      label {
        width: var(--formLabelSpace);
        white-space: nowrap;
      }
      .emailAddress {
        margin: 0.5rem 0;
      }
      .field-validation-valid {
        padding-left: 0;
      }
      .field-validation-error {
        grid-column: controls;
      }
      .custom-control {
        padding-left: 1.5rem;
      }
      .custom-control,
      .field-validation-valid {
        position: relative;
        display: block;
        min-height: 1.5rem;
        grid-column: controls;
        grid-row: auto;
        border: none;
      }
    }
    .rememberMe {
      margin-bottom: 0;
      display: grid !important;
      grid-template-columns: [labels] auto [controls] 1fr;
      grid-auto-flow: row;
      grid-row-gap: 0rem;
      grid-column-gap: 1.5rem;
      label {
        grid-area: 2 / 2;
      }
    }
    .updateAddress,
    .submit {
      margin-left: calc(var(--formLabelSpace) + 1.5rem);
    }

:is(.myAccountMain, .myAccountmain) {
  // @include loginLayoutDefault();
}

.myAccountmain {
  // @include loginLayoutGridLayout('sm');
}

.myAccountMain {
  // @include loginLayoutGridLayout();
}

.myAccountMain {
  #addressLists {
    .defaultAddressHeader,
    .additionalAddressHeader {
      font-size: 1.25rem !important;
      font-weight: 700;
      color: #003087;
      text-align: center;
      padding: 1rem;
      margin-bottom: -1rem !important;
      background-color: #eceff6;
    }
    .deliveryAddress,
    .billingAddress {
      // border: 2px solid $subtle-background;
      padding: 1.5rem 6.25%;
      // @include breakpt-md {
        padding: 1.5rem 6.25%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 0;
      grid-template-areas:
        "addressText addressText addressText buttonTop"
        "addressText addressText addressText buttonBottom";
      margin-bottom: 1rem;
      > ul {
        grid-area: addressText;
        margin-top: 1rem;
      }
      .editRemove {
        grid-area: buttonTop;
        a {
          // @include button-variant($white, $btn-background, $btn-background);
          max-width: 100%;
          width: 100%;
        }
      }
      .defaultAddressButton,
      form {
        grid-area: buttonBottom;
        grid-area: 1 / -1;
        margin-top: 1.5rem;
        span {
          display: block;
          color: #35b834;
          width: 100%;
          font-size: 1em;
          font-weight: 700;
          border-radius: 0;
          text-decoration: none;
          text-align: right;
          &::before {
            background: #35b834;
            -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMjguNi4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogMS4yLjAgQnVpbGQgNzA5KSAgLS0+CiAgPGc+CiAgICA8ZyBpZD0iTGF5ZXJfMSI+CiAgICAgIDxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXJfMSI+CiAgICAgICAgPHBhdGggZD0iTTE4LjQsMy45bC05LjQsOS43LTMuNC0zLjNjLTEtMS0yLjctMS0zLjcsMGgwYy0xLDEuMS0xLDIuNywwLDMuOGw1LjIsNS4xYzEsMSwyLjcsMSwzLjcsMGwxMS40LTExLjZjMS0xLDEtMi43LDAtMy43aDBjLTEtMS0yLjctMS0zLjcsMGgwWiIvPgogICAgICA8L2c+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4=);
            mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMjguNi4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogMS4yLjAgQnVpbGQgNzA5KSAgLS0+CiAgPGc+CiAgICA8ZyBpZD0iTGF5ZXJfMSI+CiAgICAgIDxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXJfMSI+CiAgICAgICAgPHBhdGggZD0iTTE4LjQsMy45bC05LjQsOS43LTMuNC0zLjNjLTEtMS0yLjctMS0zLjcsMGgwYy0xLDEuMS0xLDIuNywwLDMuOGw1LjIsNS4xYzEsMSwyLjcsMSwzLjcsMGwxMS40LTExLjZjMS0xLDEtMi43LDAtMy43aDBjLTEtMS0yLjctMS0zLjcsMGgwWiIvPgogICAgICA8L2c+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4=);
            -webkit-mask-size: cover;
            mask-size: cover;
            content: "";
            width: 17px;
            margin-right: 3px;
            height: 15px;
            display: inline-block;
          }
        }
        button {
          // @include button-variant($white, $btn-background, $btn-background);
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
  .delivery-addresses {
    > h5 {
      display: none;
    }
  }
  .billing-addresses {
    > h5 {
      font-size: 1.25rem !important;
      font-weight: 700;
      color: #003087;
      text-align: center;
      padding: 1rem;
      margin-bottom: 0;
      margin-bottom: -1rem !important;
      background-color: #eceff6;
    }
  }
}
