#register {
  display: block !important;
  .leftNav {
    display: none;
  }
  .myAccountWrap {
    .myAccountContents {
      .myAccountHeader {
        // h2:first-child {
        //   display: none;
        // }
        h2 {
          border-bottom: none;
        }
        h2 span {
          font-size: 1rem;
          color: var(--bs-body-color);
          display: block;
          margin-top: 1em;
          font-weight: 500;
          font-family: var(--bs-body-font-family);          
        }
      }
      .myAccountMain {
        border: 2px solid #eceff6;
        padding: 1.5rem 6.25%;
        margin-bottom: 1rem;
        #checkout {
          width: 100%;
          display: block;
        }
      }
    }
  }
}

#logonRegister {
  display: block !important;
  .leftNav {
    display: none;
  }
  .myAccountWrap {
    width: 100%;
    display: block;
    .myAccountContents {
      .myAccountHeader {
        display: none;
      }
      .myAccountMain {
        // @include media-breakpoint-up(md) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: stretch;
          align-content: flex-end;
          gap: 1rem;
        h4 {
          font-size: 22px;
          // color: $bg-brand;
        }
        button {
          width: 100%;
          max-width: 100%;
        }
        .customerReturning {
          width: 100%;
          // border: 2px solid $bg-brand;
          form {
            padding: 1.5rem 6.25%;
            padding-top: 0.5rem !important;
            // @include breakpt-md {
              padding: 1.5rem 6.25%;
          }
          h4 {
            // color: $bg-brand;
            font-weight: bold;
            // margin-bottom: 2rem;
            padding: 2rem;
            font-size: clampWithViewPort(22, 30);
            text-align: left;
          }
          .field-validation-valid {
            display: none;
          }
          .loginSignUpButtons {
          }
          .forgottenPassword {
            margin-top: 0.5rem;
            display: block !important;
            text-align: center;
          }
          button {
            margin-top: 1rem;
          }
        }
        .newRegistration {
          width: 100%;
          // border: 2px solid $bg-brand;
          // background: $subtle-background;
          .benefitsblock {
            display: none;
          }
          h4 {
            // background: $subtle-background;
            // padding: 1rem 0;
            // @include mainheaderH;
            // color: $bg-brand;
            // text-align: center;
            // color: $bg-brand;
            font-weight: bold;
            margin-bottom: 2rem;
            padding: 2rem;
            font-size: clampWithViewPort(22, 30);
            text-align: center;
          }
          p,
          .guestRegistration {
            text-align: center;
            margin: 1.5rem 6.25%;
            // @include breakpt-md {
              margin: 1.5rem 6.25%;
          }
          .benefitsblock {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #929fb6;
            strong {
              // color: $bg-brand;
            }
            p {
              margin-bottom: 0.25rem;
            }
          }
        }
      }
    }
  }
}

.wishlistItem {
  &:first-child {
    .search-item {
      border-top: 0;
    }
  }

  .search-item {
    border-top: #cac9ca 1px solid;

    .search-item__wrap {
      display: flex;
      flex-wrap: wrap;

      .search-item__image {
        flex: 0 0 10.66666667%;
        max-width: 10.66666667%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0;
      }

      .search-item__info {
        flex: 0 0 64.33333333%;
        max-width: 64.33333333%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 1rem;

        p {
          margin: 0 0 5px;

          // @include media-breakpoint-up(md) {
            margin: 0.5rem 0 0;
        }

        h3 {
          font-size: 17px;
          line-height: 20px;

          // @include media-breakpoint-up(md) {
            font-size: 20px;
            line-height: 24px;

          font-weight: 400;
          margin-bottom: 8px;

          a {
            color: #002f87;
          }
        }

        h4 {
          font-size: 1rem;
          line-height: 16px;

          // @include media-breakpoint-up(md) {
            font-size: 1.25rem;
            line-height: 20px;

          font-weight: 400;
          margin: 0 0 15px 0;
          display: block;

          a {
            color: #3a3a3a;
          }
        }
      }

      .search-item__purchase {
        flex: 0 0 25%;
        max-width: 25%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        // @include media-breakpoint-up(md) {
          background-color: #eee;

        .search-item__purchase-wrap {
          padding-bottom: 1rem;

          // @include media-breakpoint-up(md) {
            padding-top: 1rem;

          // @include media-breakpoint-up(md) {
            display: table;
            width: 100%;
            height: 100%;

            .search-item__purchase-inner {
              display: table-cell;
              vertical-align: middle;
            }
        }

        .search-item__purchase-format,
        .search-item__purchase-availability {
          display: none;
        }

        .btn {
          width: 100%;
        }

        p.rrp {
          color: gray;
          margin-bottom: 10px;
        }
        .removeWishlistItem {
          color: #002f87;
          text-decoration: underline;
          margin-top: 0.25rem;
          display: block;
        }
        p.price {
          color: #002f87;
          font-size: 22px;
          // @include media-breakpoint-up(md) {
            line-height: normal;

          line-height: 22px;
          margin-bottom: 10px;
          font-weight: 600;
        }
      }
    }
  }
}

