:root {
  @each $size, $meta in $font-sizes {
    $font-level: map.get($meta, "font-level");

    @if $font-level != null {
      --#{$base-prefix}#{$size}-font-ratio-min: var(--#{$site-prefix}#{$size}-font-ratio-min);
      --#{$base-prefix}#{$size}-font-ratio-max: var(--#{$site-prefix}#{$size}-font-ratio-max);

      --#{$base-prefix}#{$size}-fluid-min: calc(var(--font-size-min, var(--#{$site-prefix}#{$size}-font-size-min)) * pow(var(--font-ratio-min,
            var(--#{$base-prefix}#{$size}-font-ratio-min)),
          var(--font-level, 0)));
      --#{$base-prefix}#{$size}-fluid-max: calc(var(--font-size-max, var(--#{$site-prefix}#{$size}-font-size-max)) * pow(var(--font-ratio-max,
            var(--#{$base-prefix}#{$size}-font-ratio-max)),
          var(--font-level, 0)));
      --#{$base-prefix}#{$size}-fluid-preferred: calc((var(--#{$base-prefix}#{$size}-fluid-max) - var(--#{$base-prefix}#{$size}-fluid-min)) / (var(--font-width-max, 1440) - var(--font-width-min, 375)));

      $fluid-font-size: fluid-type-font-size($size);
      --#{$base-prefix}#{$size}-fluid-type: #{$fluid-font-size};
    }
  }
}

:root {
  --font-size-body-px: #{$font-size-body-px};
  --font-size-base: calc((var(--font-size-body-px) / var(--font-size-root-px, 16)) * 1rem);  
  --text-scale-increment: #{$text-scale-increment};
  --variable-unit: 100cqi;

  @each $key, $value in $type-sizes {
    $font-level: map.get($font-sizes, $key, "font-level");

    @if $font-level ==null {
      @warn "Font size `#{$key}` not found in $font-sizes map.";
    }

    @else {
      // $result: site-font-size($key, rem, true);
      $result: calc(var(--#{$base-prefix}#{$key}-font-size-px) / var(--font-size-root-px, 16) * var(--unit, 1rem));
      $result-px: site-font-size($key, px, false);
      --#{$base-prefix}#{$key}-font-size: #{unquote("#{$result}")};
      --#{$base-prefix}#{$key}-font-size-px: var(--#{$site-prefix}#{$key}-font-size-px);
    }
  }
}


@supports (width: calc(10px * pow(5, 2))) {
  :root {
    @each $key, $value in $type-sizes {
      $font-level: map.get($font-sizes, $key, "font-level");

      @if $font-level !=null {
        --#{$base-prefix}#{$key}-font-size: calc(#{$font-size-base-px} * pow(var(--text-scale-increment),
            var(--#{$site-prefix}#{$key}-font-level, #{$font-level})));
      }
    }
  }
}