@use "small-style/scss/base/mixins/rules/components/flow" as *;

@layer revised.pages {
    @layer base {

        .form {
            container: form / inline-size;
        }

        #restPasswordDetails {
            display: grid;
            gap: calc(var(--layout-gap) / 2);
            margin-top: var(--space-xl);
            span:empty {
                display: none;
            }
            @container (inline-size > 60ch) {
                grid-template-columns: 1fr max-content;
                align-items: center;
                --extra-input-frame-y: 4px;
                label {
                    grid-column: 1 / -1;                
                }
                input {
                    --input-text-frame-y: calc(var(--text-frame-y) + (var(--extra-input-frame-y) * 1));
                    grid-column: 1 / -1;
                    grid-row: 2 / 2;
                }
                span {
                    grid-column: 1/-1;
                    grid-row: 3 / 3;
                }
                button {
                    grid-column: 2 / 2;
                    grid-row: 2 / 2;
                    mix-blend-mode:luminosity;
                    pointer-events: none;
                    user-select: none;
                    opacity: 0.7;
                    margin-right: var(--extra-input-frame-y);
                }
            }
        }
    }

    @layer modifiers {

        #restPasswordDetails {
            .form-group {
                display:contents;
            }        
        }
    }
}