:root {    
    --bg-color: oklch(50% 0 0deg);
    background-color: var(--bg-color);    
}
@media (--lg) {
    :root {
        background-color:red;
    }
}
@layer components {
    :where(.btn) {
        @layer base {
            @supports (color:oklch(50% 0 0deg)) and (background-color: color-mix(in lab,#fff, #000 50%)) {
                --#{$prefix}btn-color: var(--#{$prefix}btn-theme-text);
                --#{$prefix}btn-bg: var(--#{$prefix}btn-theme, var(--#{$prefix}primary));
                --#{$prefix}btn-border-color: color-mix(in lab, var(--#{$prefix}btn-theme, var(--#{$prefix}primary)), var(--#{$prefix}btn-border-tint,#000) var(--#{$prefix}btn-border-shade-amount, 0%));
                
                --#{$prefix}btn-hover-color: var(--#{$prefix}btn-theme-hover-text, var(--#{$prefix}btn-color));
                --#{$prefix}btn-hover-bg: color-mix(in lab, var(--#{$prefix}btn-theme, var(--#{$prefix}primary)), var(--#{$prefix}btn-hover-tint,#000) var(--#{$prefix}btn-hover-shade-amount, 10%));
                --#{$prefix}btn-hover-border-color: color-mix(in lab, var(--#{$prefix}btn-theme, var(--#{$prefix}primary)), var(--#{$prefix}btn-hover-border-tint, #000) var(--#{$prefix}btn-hover-border-shade-amount, 12%));

                --#{$prefix}btn-active-color: var(--#{$prefix}btn-theme-active-text, var(--#{$prefix}btn-color));
                --#{$prefix}btn-active-bg: color-mix(in lab, var(--#{$prefix}btn-theme, var(--#{$prefix}primary)), var(--#{$prefix}btn-active-tint,#000) var(--#{$prefix}btn-active-shade-amount, 12%));
                --#{$prefix}btn-active-border-color: color-mix(in lab, var(--#{$prefix}btn-theme, var(--#{$prefix}primary)), var(--#{$prefix}btn-active-border-tint, #000) var(--#{$prefix}btn-active-border-shade-amount, 14%));
                --#{$prefix}btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
                --#{$prefix}btn-disabled-color: var(--#{$prefix}btn-theme-disabled-text, var(--#{$prefix}btn-color));
                --#{$prefix}btn-disabled-bg: color-mix(in lab, var(--#{$prefix}btn-theme, var(--#{$prefix}primary)), var(--#{$prefix}btn-disabled-tint,#fff) var(--#{$prefix}btn-disabled-tint-amount, 0%));
                --#{$prefix}btn-disabled-border-color: color-mix(in lab, var(--#{$prefix}btn-theme, var(--#{$prefix}primary)), var(--#{$prefix}btn-disabled-border-tint,#fff) var(--#{$prefix}btn-disabled-border-tint-amount, 0%));

                display: inline-block;
                padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
                font-family: var(--#{$prefix}btn-font-family);
                @include font-size(var(--#{$prefix}btn-font-size));
                font-weight: var(--#{$prefix}btn-font-weight);
                line-height: var(--#{$prefix}btn-line-height);
                color: var(--#{$prefix}btn-color);
                text-align: center;
                text-decoration: if($link-decoration == none, null, none);
                white-space: $btn-white-space;
                vertical-align: middle;
                cursor: if($enable-button-pointers, pointer, null);
                user-select: none;
                border: var(--#{$prefix}btn-border-width) solid var(--#{$prefix}btn-border-color);
                @include border-radius(var(--#{$prefix}btn-border-radius));
                @include gradient-bg(var(--#{$prefix}btn-bg));
                @include box-shadow(var(--#{$prefix}btn-box-shadow));
                @include transition($btn-transition);
            }
        }
    }
}
