@use 'sass:color';
@use 'sass:map';

@layer reset, bs, site; 
@layer site {
    @layer components;
}

@layer site.components {
    @layer base, states, modifiers;
}

$prefix: "site-";


$lch-colors: (
    primary: (
        l: 0.7,
        c: 0.1,
        h: 233
    ),
    secondary: (
        l: 0.7,
        c: 0.1,
        h: 356
    )
);

$primary: color.to-space(oklch(map.get($lch-colors, 'primary', 'l') map.get($lch-colors, 'primary', 'c') map.get($lch-colors, 'primary', 'h')), hsl);
$secondary: color.to-space(oklch(map.get($lch-colors, 'secondary', 'l') map.get($lch-colors, 'secondary', 'c') map.get($lch-colors, 'secondary', 'h')), hsl);

@import "./variables/media-queries";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";


:root {
  @each $key, $value in $lch-colors {
        $l: map.get($value, l);
        $c: map.get($value, c);
        $h: map.get($value, h);
        --#{$prefix}#{$key}-l: #{$l};
        --#{$prefix}#{$key}-c: #{$c};
        --#{$prefix}#{$key}-h: #{$h};
        --#{$prefix}#{$key}: oklch(var(--#{$prefix}#{$key}-l) var(--#{$prefix}#{$key}-c) var(--#{$prefix}#{$key}-h));
  }
  --#{$prefix}primary-fallback: #{$primary};
  --#{$prefix}secondary-fallback: #{$secondary};
}





@layer bs {
    @import "./bootstrap";
}

@layer site {
    @import "./site";
}