@use 'sass:color';
@use 'sass:map';

@layer reset, bs, site; 
@layer site {
    @layer components;
}

@layer site.components {
    @layer base, states, modifiers;
}

@import "./variables/media-queries";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$prefix: "site-";

$primary-lch: (
    l: 0.7,
    c: 0.1,
    h: 233
);

$primary: color.to-space(oklch(map.get($primary-lch, 'l') map.get($primary-lch, 'c') map.get($primary-lch, 'h')), hsl);

:root {
  @each $color, $value in $primary-lch {
    --#{$prefix}primary-#{$color}: #{$value};
  }
  --#{$prefix}primary-fallback: #{$primary};
  --#{$prefix}primary: oklch(var(--#{$prefix}primary-l) var(--#{$prefix}primary-c) var(--#{$prefix}primary-h));
}





@layer bs {
    @import "./bootstrap";
}

@layer site {
    @import "./site";
}