@layer reset, bs, site; 
@layer site {
    @layer components;
}

@layer site.components {
    @layer base, states, modifiers;
}

@import "./variables/media-queries";

$prefix: "site-";

@layer bs {
    @import "./bootstrap";
}

@layer site {
    @import "./site";
}