  $glide-direction-ltr:'glide--ltr'!default;
  $glide-direction-rtl:'glide--rtl'!default;
  $glide: 'glide'!default;
  $glide-title: 'glide__title'!default;
  $glide-slider: 'glide--slider'!default;
  $glide-carousel: 'glide--carousel'!default;
  $glide-track: 'glide__track'!default;
  $glide-swipeable: 'glide--swipeable'!default;
  $glide-dragging: 'glide--dragging'!default;
  $glide-cloneSlide: 'glide__slide--clone'!default;
  $glide-activeNav: 'glide__bullet--active'!default;
  $glide-activeSlide: 'glide__slide--active'!default;
  $glide-disabledArrow: 'glide__arrow--disabled'!default;
  $glide-arrows: 'glide__arrows'!default;
  $glide-arrow: 'glide__arrow'!default;
  $glide-arrow-left: 'glide__arrow--left'!default;
  $glide-arrow-right: 'glide__arrow--right'!default;
  $glide-bullets: 'glide__bullets'!default;
  $glide-bullet: 'glide__bullet'!default;