@use "sass:map";

@import "./core-style/root";
@import "./core-style/bg-clicker";
@import "./core-style/forms";
@import "./components/cookie";
@import "./core-style/errors";
@import "./core-style/topbar";
@import "./layout/header";
@import "./components/breadcrumb";
@import "./layout/nav";
@import "./layout/footer";

/* === DEV ============================= */
hr.dev {
  margin: 5rem 0;
  border-top: 1rem solid hotpink;
  opacity: 1;
}
/* === GLOBAL ============================= */

body {
  position: relative;
  font-variant-numeric: lining-nums;
  overflow-x: hidden;
  @media (max-width: breakpoint-max(md)) {
    &.facetShow,
    &.mobileMenuOpen {
      overflow: hidden;
      position: relative;
    }
  }
}

:where(a) {
  color: currentColor;
  text-decoration: none;
  text-underline-offset: 0.2rem;
  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

:where(img) {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.sr-only {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  &:not(caption) {
    position: absolute !important;
  }
}



.accountNav {
  border-radius: 0;
  border: 0;
  padding: 0;
  // @media (--md-n-above) {
  //   margin-top: 10px;
  // }
  #navMenuHello {
    padding: 0.5rem 0.75rem;
    background-color: $subtle-background;
    color: $bg-brand;
    font-weight: 600;
  }
  > li {
    padding: 0;
    border-bottom: 2px solid $subtle-border;
    a {
      padding: 0.5rem 0.75rem;
      background-color: $subtle-background;
      color: $bg-brand;
      display: block;
      width: 100%;
      &:hover {
        background-color: $bg-brand;
        color: #fff;
        text-decoration: none;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}


.main-section > .error {
  width: min(var(--header-container-max-width), 100%);
  margin-inline: auto;
  padding-inline: 1rem;
  margin-top: 2rem;
}


/* Search autocomplete menu */
.freeow.active-search {
  display: block !important;
}

body {
  #search-background.show {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  > .ui-widget {
    padding: 30px 0.5rem 0.5rem;
    background: linear-gradient(0deg, #e6eefa 90%, transparent);
    font-family: $font-family-sans-serif;
    z-index: 30;
    border-top: none !important;
    border-radius: 0 0 10px 10px;
    .ui-menu-item {
      .ui-menu-item-wrapper {
        padding: 0.5rem;
        width: 100%;
        line-height: 1;
        display: inline-block;
        border-top: 1px solid #eee;
        margin: 0;
        &:first-child {
          border-top: 0px solid #eee;
        }
        &.ui-state-active {
          border-top: 1px solid #eee;
          border-bottom: 0;
          background-color: #1c4aa0;
        }
      }
    }
  }
}

/* Icon 1 */

#navButton .navbarToggle .aniWrap {
  width: 19px;
  height: 35px;
  position: relative;
  margin: 0 auto 0 auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#navButton .navbarToggle .aniWrap div {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 15px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#navButton .navbarToggle .aniWrap div:nth-child(1) {
  top: 10px;
}

#navButton .navbarToggle .aniWrap div:nth-child(2) {
  top: 17px;
}

#navButton .navbarToggle .aniWrap div:nth-child(3) {
  top: 24px;
}

body.mobileMenuOpen #navButton .navbarToggle .aniWrap div:nth-child(1) {
  top: 19px;
  transform: rotate(135deg);
}

body.mobileMenuOpen #navButton .navbarToggle .aniWrap div:nth-child(2) {
  opacity: 0;
  left: -60px;
}

body.mobileMenuOpen #navButton .navbarToggle .aniWrap div:nth-child(3) {
  top: 19px;
  transform: rotate(-135deg);
}





// Discount Flash
.discountFlash {
  &--np {
    display: none;
  }
}

.no-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  column-gap: 1.5rem;
  &__l-img {
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
  &__r-img {
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
  &__title {
    text-align: center;
    align-self: center;
    padding: 1.5rem;
    @include media-breakpoint-up(sm) {
      padding: 1.5rem 0 0 0;
    }

    h1 {
      display: inline-block;
      padding: 0 0.5rem 0.75rem 0.5rem;
      position: relative;
      color: $bg-brand;
      margin-bottom: 2rem;
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        background-color: $bg-brand;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    p {
      color: $bg-brand;
    }
  }
}



