@layer root {
 
  /// Small Style Base Config Props
  :root {
    /// $prefix in output-props doesn't work here as values don't get the prefix applied
    @include output-props(pick-keys($_small-style-base-config-variables, $config-pick-keys)...);
  }

  :root {
    // TODO: Update small-style to change space-increment to a custom prop
    @include output-props(exclude-keys($_small-style-base-spacing-variables, register-spacing)...);
  }

  :root {
    @include output-props(pick-keys($_small-style-base-layout-variables, $layout-pick-keys)...);    
  }

  :root {
    @include output-props(pick-keys($_small-style-base-wrapper-variables, $wrapper-pick-keys)...);
  }  

  /// Vanilla Framework Base Props
  :root {
    --text-scale-increment: #{$text-scale-increment};

    @each $key, $value in $type-sizes {
      $font-level: map.get($font-sizes, $key, "font-level");
      @if $font-level == null {
        @warn "Font size `#{$key}` not found in $font-sizes map.";
      } @else {
        $result: site-font-size($key, rem, true);
        $result-px: site-font-size($key, px, false);
        --#{$base-prefix}#{$key}-font-size: #{unquote("#{$result}")};
        --#{$base-prefix}#{$key}-font-size-px: #{unquote("#{$result-px}")};
      }
    }
  }

  @supports (width: calc(10px * pow(5, 2))) {
    :root {
      @each $key, $value in $type-sizes {
        $font-level: map.get($font-sizes, $key, "font-level");
        @if $font-level != null {
          --#{$base-prefix}#{$key}-font-size: calc(
            #{$font-size-base-px} *
              pow(
                var(--text-scale-increment),
                var(--#{$base-prefix}#{$key}-font-level, #{$font-level})
              )
          );
        }
      }
    }
  }

//   :root {
//     @each $key, $value in $theme-colors {
//       @if map-has-key($lch-colors, $key) {
//         $lch: map.get($lch-colors, $key);
//         $l: map.get($lch, l);
//         $c: map.get($lch, c);
//         $h: map.get($lch, h);
//         --#{$base-prefix}#{$key}-l: #{$l};
//         --#{$base-prefix}#{$key}-c: #{$c};
//         --#{$base-prefix}#{$key}-h: #{$h};
//         --#{$base-prefix}#{$key}: oklch(
//           var(--#{$base-prefix}#{$key}-l)
//             var(--#{$base-prefix}#{$key}-c)
//             var(--#{$base-prefix}#{$key}-h)
//         );
//       }
//     }
//     --#{$base-prefix}primary-fallback: #{$primary};
//     --#{$base-prefix}secondary-fallback: #{$secondary};
//   }
// }

@each $key, $value in $register-lch {
  $name: $key;
  $syntax: map-get($value , 'syntax');
  $inherits: map-get($value , 'inherits');
  $initial-value: map-get($value , 'initial-value');
  @include register-prop($site-prefix + $name, $syntax, $inherits, $initial-value);
}

  :root {
    @each $key, $value in $theme-colors {
      @if map-has-key($lch-colors, $key) {
        $lch: map.get($lch-colors, $key);
        $l: map.get($lch, l);
        $c: map.get($lch, c);
        $h: map.get($lch, h);
        --#{$base-prefix}#{$key}-l: var(--#{$site-prefix}#{$key}-l, #{$l});
        --#{$base-prefix}#{$key}-c: var(--#{$site-prefix}#{$key}-c, #{$c});
        --#{$base-prefix}#{$key}-h: var(--#{$site-prefix}#{$key}-h, #{$h});
        --#{$base-prefix}#{$key}: oklch(
          var(--#{$base-prefix}#{$key}-l)
            var(--#{$base-prefix}#{$key}-c)
            var(--#{$base-prefix}#{$key}-h)
        );
      }
    }
    --#{$base-prefix}primary-fallback: #{$primary};
    --#{$base-prefix}secondary-fallback: #{$secondary};
  }
}
